﻿@model IEnumerable<MVCApp.Data.Models.MissingPeoples>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Missing Peoples</h1>
    <div>
        @*There are @Enumerable.Count(Model) missing people in my db.*@
        This is place where you can store info about missing poeple. You can find, sort and add new people who are missing
    </div>
</div>

@*<ul>
    @foreach (var missingpoeple in Model)
    {
        <li>@missingpoeple.FirstName</li>
    }
</ul>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@